<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>
    <%= link_to 'Recipes', recipes_path %>
    <%= link_to 'Tests', tests_path %>
    <%= link_to 'webhosting', web_hostings_path %>
    </h1>
    <%= yield %>

    <p>test</p>
  </body>
</html>
